body{
  background-color: blue;
}
h2{
  
color: white;
text-align: center;
font-size: 5rem;
}
.container{
  background-color: white;
  max-width: 1300px;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box{
  background-color: black;
  width: 28%;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px black;
}
h5{
  color: white;
  text-align: center;
  font-size: 20px;
}
p{
  color: palegreen;
  font-size: 16px;
}
img{
  width: 300px;
  height: 300px;
  border-image-width: rem;
}